

#header {
  color: #000000;
  font-size: 30px;
  background-color: #2d9c4b;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
  margin: 0px;
}

h1:hover {
  background-color: #0cf04a;
  color: black;
}



.details {
  color: green;
  font-size: 20px;
  display: flex;
  justify-content: center;

}

.details:hover{
  color: #0d4a1e;
  font-size: 40px;
}


main{
  font-size: 1rem;
  background-color: white;

}

body {
  margin: 0 8%;
  background-image: url('https://images.unsplash.com/photo-1512070679279-8988d32161be?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8bW92aWV8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60');

}



footer{
  background-color: white;
  font-size: 20px;

}
